
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
{%for quote in getquote%}
<!-- Content block -->

<h1 style="color: brown;">
    <center><p class="text-danger"><b>WANJALA BLOG WEBSITE</b></p></center>
</h1>
<br><br>

<div class="container">
    <div class="row">

        <div class="col-md-4 pt-3">
            <div class="card" style="position: relative">
                <div class="card-header">
                    <div class="card-title">
                    <div class="text-danger"><h2><u>Quote of the day</u></h2></div>
                    </div>
                </div>
                <div class="card-body-">
                    <h2 class="quoted-author">{{ quote.author }}</h2>
                    <p class="quoted-quote">{{ quote.quote }}</p>
                </div>
            </div>
        </div>
        <div class="card">

          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><u>BLOG</u></h4>
            <!-- Text -->
            <p class="card-text">This is Wanjala's blog website where one can create and share their opinions.<br/> One can also read and comment on those opinions. Create account, login in, and leave a comment.</p>
            <!-- Button -->
            <a href="{{url_for ('main.all')}}" class="btn btn-warning">Button</a>
           
          </div>
        
        </div>

    </div>
</div>
<br><br><br><br><br>
  <footer class="footer mt-4">
    <div class="social-icons">
      <i class="fa fa-2x fa-facebook"></i>
      <i class="fa fa-2x fa-twitter"></i>
      <i class="fa fa-2x fa-instagram"></i>
    </div>
    <p class="text-center pt-2 text-color-warning">© 2020 Copyright: Rovine Sydney Wanjala</p>
  </footer>
{% endfor %}
{% endblock%}

